.table {
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.table__row,
.table__header {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 40px;
    gap: 4px;
}

.table__body {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    max-height: 70vh;
}

.table__row {
    cursor: pointer;
    min-height: 40px;
}

.table__row>div {
    min-width: 120px;
    border-left: 1px solid #ccc;
    padding: 4px 8px;
}

.table__row>div:first-child {
    border-left: none;
}

.table__delete-button {
    background-color: red;
    font-weight: bold;
    width: 32px;
    height: 32px;
    align-self: center;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
}

.table__delete-button svg path {
    stroke: white;
}

.table__header-button {
    width: 100%;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 0 8px;
    gap: 8px;
}

.table__header-button svg {
    width: 20px;
    height: 20px;
    display: none;
    transition: transform 0.1s ease-in-out;
}

.table__header-button--asc svg,
.table__header-button--desc svg {
    display: block;
}

.table__header-button--asc svg {}

.table__header-button--desc svg {
    transform: rotate(180deg);
}


@media screen and (hover:hover) {
    .table__row:hover {
        background-color: #f1f1f1;
    }

    .table__delete-button:hover {
        background-color: darkred;
    }

    .table__header-button:hover {
        background-color: #f1f1f1;
    }
}